footer{
    background-color: #333333;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
footer p{
    position:static;
    text-align:center;
    color: aliceblue;
}
.form-control {
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 46px;
    font-size: 16px;
    font-weight: 300;
    padding-left: 15px;
    padding-right: 15px;
}
.form-control:active, .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: rgb(72, 150, 251);
}
.btn-info {
    background: #5bc0de;
    color: #fff;
    border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
    background: #46b8da !important;
    border-color: #46b8da !important;
}
.btn-info.btn-outline {
    background: transparent;
    color: #5bc0de;
    border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
    background: #5bc0de;
    color: #fff;
 }

